{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
<title> ITPA | Administrador de talleres </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1">
<meta name="descripcion" content="Sistema para el manejo de talleres en el Instituto Tecnológico de Pabellón de Arteaga">
<meta name="author" content="Jaqueline GL & Yatziri ES">
<meta name="keywords" content="Programación web">
<link rel="stylesheet" type="text/css" href="{% static 'estilo/css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'estilo/css/style.css'%}">
<script type="text/javascript" src="{% static 'estilo/js/mijavascript.js'%}"></script>
<script type="text/javascript" src="{% static 'estilo/js/bootstrap.js'%}"></script>

</head>

<section class="header2">
	<nav>
		<a href="index"><img src="{% static 'imagenes/logo.png'%}"></a>
		<div class="navbar-links">
			<ul>
				<li><a href="{% url 'index_view' %}">SALIR</a></li>
			</ul>
		</div>
	</nav>
<div class="text-box">
	<h1>Bienvenido </h1>
	<br>
	<p>Los alumnos inscritos a tu taller son: </p>
</div>	
</section>

<div class="container">
	<div class="row">
		<div class="col-sm-10 osffset-sm-1 col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-xl-10
		offset-xl-1 col-xxl-10 offset-xxl-1">
			
			<table class="table table-striped">
				<thead>
					<th>Número de control</th>
					<th>Nombres</th>
					<th>Apellido Paterno</th>
					<th>Apellido Materno</th>
					<th>Carrera</th>
					<th>Grupo</th>
					<th>Email</th>
					<th>Número de teléfono</th>
				</thead>
		{% for Alumnos in vAlumnos %}

					<tbody>
						<td>{{Alumnos.num_control}}</td>
						<td>{{Alumnos.nombre}}</td>
						<td>{{Alumnos.apellido_paterno}}</td>
						<td>{{Alumnos.apellido_materno}}</td>
						<td>{{Alumnos.carrera}}</td>
						<td>{{Alumnos.grupo}}</td>
						<td>{{Alumnos.correo}}</td>
						<td>{{Alumnos.num_telefono}}</td>
					</tbody>
			{% endfor %}
			</table>
		

		</div>
	</div>
</div>










<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: #F4F4F4">
    Instituto Tecnológico de Pabellón de Arteaga | Todos los derechos reservados
  </div>
</footer>


</body>

</html> 